<div class="min-h-screen flex items-center justify-center bg-[#25282D] text-[#F3F6F7] px-4">
  <div class="w-full max-w-lg bg-[#30353B] p-8 rounded-2xl shadow-lg border border-[#3A3F46] text-center">

    <!-- Titre -->
    <h2 class="text-3xl font-bold mb-6 text-[#E2A411]">
      Réinitialiser ton mot de passe
    </h2>

    <!-- Description -->
    <p class="text-[#BDC1C7] mb-8">
      Entre ton nouveau mot de passe et confirme-le ci-dessous.
    </p>

    <!-- Erreur -->
    <div *ngIf="errorMessage" class="mb-4 text-red-500 font-semibold">
      {{ errorMessage }}
    </div>

    <!-- Succès -->
    <div *ngIf="successMessage" class="mt-6 text-green-500 font-semibold">
        {{ successMessage }}
        <br />
        <a routerLink="/login" class="text-[#E2A411] hover:underline ml-1">
            Revenir à la page de connexion
        </a>
    </div>

    <!-- Formulaire -->
    <form (ngSubmit)="onSumbit()" #resetForm="ngForm" class="space-y-6" *ngIf="!successMessage">

      <!-- Champ mot de passe -->
      <div class="relative">
        <input
          type="password"
          name="password"
          [(ngModel)]="password"
          required
          placeholder="Nouveau mot de passe"
          class="w-full px-4 py-2 rounded-lg bg-[#25282D] border border-[#3A3F46]
                 text-[#F3F6F7] placeholder-[#888C96] focus:outline-none focus:ring-2
                 focus:ring-[#E2A411] focus:border-transparent transition"
        />
      </div>

      <!-- Champ confirmation -->
      <div class="relative">
        <input
          type="password"
          name="confirmPassword"
          [(ngModel)]="confirmPassword"
          required
          placeholder="Confirme le mot de passe"
          class="w-full px-4 py-2 rounded-lg bg-[#25282D] border border-[#3A3F46]
                 text-[#F3F6F7] placeholder-[#888C96] focus:outline-none focus:ring-2
                 focus:ring-[#E2A411] focus:border-transparent transition"
        />
      </div>

      <!-- Message d’erreur local -->
      <div *ngIf="passwordMismatch" class="text-red-400 text-sm font-medium">
        Les mots de passe ne correspondent pas.
      </div>

      <!-- Bouton -->
      <button
        type="submit"
        [disabled]="resetForm.invalid"
        class="w-full bg-[#E2A411] text-[#1B1C1C] font-semibold px-6 py-2 rounded-lg
               hover:bg-[#f1b624] transition duration-200 disabled:opacity-50
               disabled:cursor-not-allowed"
      >
        Confirmer
      </button>
    </form>
  </div>
</div>
