<div class="min-h-screen flex items-center justify-center bg-[#25282D] text-[#F3F6F7]">
  <div class="w-full max-w-lg bg-[#30353B] p-8 rounded-2xl shadow-lg border border-[#3A3F46]">
    <h2 class="text-3xl font-bold text-center mb-8 text-[#E2A411]">
      Profil utilisateur
    </h2>

    <!-- Chargement -->
    <div *ngIf="loading" class="text-center text-[#BDC1C7]">
      Chargement des informations...
    </div>

    <!-- Erreur -->
    <div *ngIf="error" class="text-center text-red-500 font-semibold">
      {{ error }}
    </div>

    <!-- Données utilisateur -->
    <div *ngIf="!loading && user" class="space-y-4">
      <div class="flex justify-between border-b border-[#3A3F46] pb-2">
        <span class="text-[#BDC1C7]">Nom :</span>
        <span class="font-medium">{{ user.name }}</span>
      </div>

      <div class="flex justify-between border-b border-[#3A3F46] pb-2">
        <span class="text-[#BDC1C7]">Email :</span>
        <span class="font-medium">{{ user.email }}</span>
      </div>

      <div class="flex justify-between border-b border-[#3A3F46] pb-2">
        <span class="text-[#BDC1C7]">Date de création :</span>
        <span class="font-medium">
          {{ user.createdAt | date:'dd/MM/yyyy à HH:mm' }}
        </span>
      </div>

      <div class="flex justify-between items-center border-b border-[#3A3F46] pb-2">
        <span class="text-[#BDC1C7]">Vérifié :</span>
        <span
          class="px-3 py-1 rounded-full text-sm font-semibold"
          [ngClass]="user.verified ? 'bg-green-600 text-[#F3F6F7]' : 'bg-red-600 text-[#F3F6F7]'"
        >
          {{ user.verified ? 'Oui' : 'Non' }}
        </span>
      </div>
    </div>

    <!-- Bouton changer mot de passe -->
    <div *ngIf="!loading && user" class="mt-6 text-center">
        <button
            (click)="changePassword()"
            class="bg-[#30353B] border border-[#E2A411] text-[#E2A411] font-semibold
                px-6 py-2 rounded-lg hover:bg-[#E2A411] hover:text-[#1B1C1C]
                transition duration-200 shadow-md"
        >
            Changer le mot de passe
        </button>
    </div>

    <!-- Bouton changer d'adresse e-mail -->
    <div *ngIf="!loading && user" class="mt-4 text-center">
    <button
        (click)="changeEmail()"
        class="bg-[#30353B] border border-[#E2A411] text-[#E2A411] font-semibold
            px-6 py-2 rounded-lg hover:bg-[#E2A411] hover:text-[#1B1C1C]
            transition duration-200 shadow-md"
    >
        Changer d’adresse e-mail
    </button>
    </div>

    <!-- Bouton déconnexion -->
    <div *ngIf="!loading && user" class="mt-8 text-center">
      <button
        (click)="logout()"
        class="bg-[#E2A411] text-[#1B1C1C] font-semibold px-6 py-2 rounded-lg hover:bg-[#f1b624] transition"
      >
        Déconnexion
      </button>
    </div>
  </div>
</div>
